.App {
  overflow: hidden;
  padding: 20px 40px;
  min-height: 100vh;
 
  @media screen and (max-width: 500px) {
    padding: 20px 15px;
  }


}

:root {
  --wht: #fff;
  --txt: #999;
  --list_h: 68px;
  --l1: #e6e6e635;
  --white: #fdfdfd;
  --back-1: #363636;
  --back-2: #4a4a4a;
  --bord-dark: #666;
  --txt-alt: #808080;
  --txt-alt-2: #aaaa;
  --sm-hd-height: 60px;
  --dark-800: #242424;
  --dark-800: #1a1a1a;
  --list-border: 1px solid rgba(255, 255, 255, 8%);
}

::-webkit-scrollbar {
  width: 14px;
  height: 10px;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
::-webkit-scrollbar:hover {
  transform: scaleX(1.45);
}
::-webkit-scrollbar:hover,
.has-scroll-scrolling .-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  cursor: -webkit-pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  cursor: -webkit-pointer;
  cursor: pointer;
}
::webkit-scroll-dragging ::webkit-scrollbar-thumb {
  cursor: -webkit-pointer;
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--color);
  // font-family: "Open Sans Condensed", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 800px) {
    padding: 0px;
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.light_theme {
  --color: "#808080";
  --txt-alt: #555;
  --wht: #000;

  --back-1: #fdfdfd;

  --back-2: #f2f2f2;
  --forgot :  #1d1959;
  --form : white;
  --outkast : grey;
  --form-press : black;
  --coin : #fff;



  --l1: #333;

  --list-border: 1px solid rgba(0, 0, 0, 18%);

  --background: var(--white);
  --border-default: rgba(0, 0, 0, 18%);
 
}

.dark_theme {
  --coin : black;
  --form : #1a1a1a;
  --outkast : whitesmoke;
  --form-press : grey;
  --background: var(--dark-800);
  --forgot : #DA8717;
  --border-default: rgba(255, 255, 255, 8%);
  background-color: var(--background);
  --color: white !important;
  color: var(--color);
}
